
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* font-family: 'Roboto', ; */
body {
  padding:0;
  margin:0;
}
/* NAVBAR */
#navbar {
  display:flex;
  width:100%;
  justify-content:center;
}
.nav-text {
  margin: 1vmax 2vmax auto 2vmax;
  font-family: 'Roboto', sans-serif;
  font-size:1vmax;
  color: #B1B1B1;
  opacity:0.75;
  transition-duration: 0.25s;
  cursor: pointer;
  text-decoration:none;
}
#nav-image {
  height:4vmax;
  transition-duration: 0.25s;
  opacity:0.75;
  cursor: pointer;
}
.nav-text:hover {
  opacity:1;
  color:#032d3c;
}
#nav-image:hover {
  opacity:1;
}
/* Body */
.hero {
  display:grid;
  justify-content:flex-start
  margin: 5vmax 0 0 5vmax;
}
.header-main {
  color: #4be3ac;
  font-size:6vmax;
  font-family: 'Press Start 2P', serif;
  margin: 0 auto 0 auto;
}
.header-sub {
  color: #94fc13;
  font-size:3.5vmax;
  font-family: 'Press Start 2P', serif;
  margin: 0.5vmax auto 0 auto;
}
.desc {
  margin: 3vmax 0 0 20vmax;
}
#olimar-img {
  border-radius:20px;
  display:inline;
  position:relative;
}
#body-header {
  margin-left:3vmax;
  display:inline;
  vertical-align:top;
  font-size:2vmax;
  font-family: 'Press Start 2P', serif;
  color: #B1B1B1;
  position:absolute;
}
#body-text {
  display:inline;
  position:absolute;
  font-size:1vmax;
  margin: 3vmax 15vmax auto 3vmax;
  font-family: 'Montserrat', sans-serif;
  color: #B1B1B1;
}
#body-header2 {
  margin-left:3vmax;
  margin-top:8vmax;
  display:inline;
  vertical-align:top;
  font-size:2vmax;
  font-family: 'Press Start 2P', serif;
  color: #B1B1B1;
  position:absolute;
}
#body-text2 {
  display:inline;
  position:absolute;
  font-size:1vmax;
  margin: 10vmax 15vmax auto 3vmax;
  font-family: 'Montserrat', sans-serif;
  color: #B1B1B1;
}
#btn {
  background-color:#21a6ba;
  height:6vmax;
  width:18vmax;
  display:inline;
  position:absolute;
  font-size:1vmax;
  margin: 10vmax 15vmax auto 3vmax;
  border-radius:20px;
}
#get-olimar-btn {
  font-family: 'Montserrat', sans-serif;
  color: white;
  position:relative;
  vertical-align:middle;
  text-align:center;
  font-size:2.1vmax;
}
